.kjcTopListContainer{
    width: 982px;
    margin: 0 auto;
    display: flex;
    min-width: 700px;
    font-family: simsun,\5b8b\4f53;
    .kjcLeftNav{
      width: 242px;
      height: 1900px;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
      .kjcFeatureList{
        margin-top: 40px;
        h2{
          font-size: 14px;
          color: #000;
          padding: 0 10px 12px 15px;
          font-weight: 700;
        }
        ul{
          li{
            width: 240px;
            height: 62px;
            padding: 10px 0 10px 20px;
            display: flex;
            align-items: center;
            
            &.active{
              background-color: #e6e6e6;
            }
            &:hover{
              background-color: #f4f2f2;
            }
            img{
              margin-top: 2px;
              width: 40px;
              height: 40px;
              vertical-align: middle;
            }
            .kjcFeatureItem{
              margin-left: 10px;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              font-size: 12px;
              font-family: Arial, Helvetica, sans-serif;
              vertical-align: middle;
              .kjcFeatureTitle{
                vertical-align: middle;
                margin-top: 2px;
                color: #000;
              }
              .kjcFeatureUpdate{
                vertical-align: middle;
                color: #999;
              }
            }
          }
        }
      }
      .kjcGlobalList{
        margin-top: 20px;
        h2{
          font-size: 14px;
          color: #000;
          padding: 0 10px 12px 15px;
          font-weight: 700;
        }
        ul{
          li{
            width: 240px;
            height: 62px;
            padding: 10px 0 10px 20px;
            display: flex;
            align-items: center;
            &.active{
              background-color: #e6e6e6;
            }
            &:hover{
              background-color: #f4f2f2;
            }
            img{
              margin-top: 2px;
              width: 40px;
              height: 40px;
              vertical-align: middle;
            }
            .kjcGlobalItem{
              margin-left: 10px;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              font-size: 12px;
              font-family: Arial, Helvetica, sans-serif;
              vertical-align: middle;
              .kjcGlobalTitle{
                vertical-align: middle;
                margin-top: 2px;
                color: #000;
              }
              .kjcGlobalUpdate{
                vertical-align: middle;
                color: #999;
              }
            }
          }
        }
      }
      
    }
    .kjcRightContent{
      width:calc(100% - 242px);
      border-right: 1px solid #ccc;
      .kjcContentHeader{
        width: 740px;
        height: 238px;
        padding: 40px;
        display: flex;
        .kjcImgWrap{
          width: 158px;
          height: 158px;
          padding: 3px;
          border: 1px solid #ccc;
          img{
            width: 150px;
            height: 150px;
          }
        }
        .kjcContentMain{
          margin-top: 16px;
          margin-left: 29px;
          width: 473px;
          height: 113.4px;
          h2{
            margin-bottom: 4px;
            width:100%;
            height: 24px;
            font-size: 20px;
            line-height: 24px;
            font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
          }
          .kjcContentUser{
            width: 100%;
            height: 35px;
            line-height: 35px;
            margin-bottom: 20px;
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            .kjcIcon{
              width: 13px;
              height: 13px;
              margin: 9px 0 0 3px;
              background-image: url('../img/icon.png');
              background-position: -18px -682px;
              background-repeat: no-repeat;
            }
            .kjcUpdateTime{
              margin-left: 5px;
              color: #666;
            }
            .kjcUpdateCount{
              color: #999;
            
            }
          }
          .kjcBtns{
            display: flex;
            width: 483px;
            height: 32px;
            margin-bottom: 25px;
            margin-right: -10px;
            background-color: #ccc;
            background:url('../img/button2.png') no-repeat 0 9999px;
            font-family: simsun,\5b8b\4f53;
            .kjcPlay{
              width: 66px;
              height: 32px;
              padding-right: 5px;
              background-image: url('../img/button2.png');
              background-position: right -428px;
              background-repeat: no-repeat;
              cursor: pointer;
              white-space: nowrap;
              &:hover{
                background-position: right -510px;
              }
              span{
                display: block;
                width: 61px;
                height: 31px;
                background-image: url('../img/button2.png');
                background-position: 0 -387px;
                background-repeat: no-repeat;
                padding: 0 7px 0 8px;
                line-height: 31px;
                font-size: 12px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                &:hover{
                  background-position: 0 -469px;
                }
                em{
                  float: left;
                  width: 20px;
                  height: 18px;
                  margin: 6px 2px 2px 0;
                  background-image: url('../img/button2.png');
                  background-position: 0 -1622px;
                  background-repeat: no-repeat;
                  &:hover{
                    background-position: -28px -1622px;
                  }
                }
              }
            }
            .kjcAdd{
              width: 31px;
              height: 31px;
              margin-right: 5px;
              margin-left: -3px;
              background:url('../img/button2.png') no-repeat 0 9999px;
              background-position: 0 -1588px;
              cursor: pointer;
              white-space: nowrap;
              &:hover{
                background-position: -40px -1588px;
              }
            }
            .kjcCollection{
              width: 92.6px;
              height: 31px;
              padding-right: 5px;
              margin-right: 6px;
              background-image: url('../img/button2.png');
              background-repeat: no-repeat;
              background-position: right -1020px;
              cursor: pointer;
              white-space: nowrap;
              &:hover{
                background-position: right -1106px;
              }
              span{
                display: block;
                width: 87.6px;
                height: 31px;
                padding: 0 2px 0 28px;
                background-image: url('../img/button2.png');
                background-position: 0 -977px;
                background-repeat: no-repeat;
                line-height: 31px;
                &:hover{
                  background-position: 0 -1063px;
                }
              }
            }
            .kjcShare{
              width: 73.4px;
              height: 31px;
              padding-right: 5px;
              margin-right: 6px;
              line-height: 31px;
              background:url('../img/button2.png');
              background-position: right -1020px;
              white-space: nowrap;
              cursor: pointer;
              &:hover{
                background-position: right -1106px;
              }
              span{
                display: block;
                width: 68.4px;
                height: 31px;
                line-height: 31px;
                background:url('../img/button2.png');
                background-position: 0 -1225px;
                background-repeat: no-repeat;
                padding: 0 2px 0 28px;
                &:hover{
                  background-position: 0 -1268px;
                }
              }
            }
            .kjcDownload{
              width: 59px;
              height: 31px;
              white-space: nowrap;
              color: #333;
              margin-right: 6px;
              font-family: simsun,\5b8b\4f53;
              background:url('../img/button2.png');
              background-repeat: no-repeat;
              background-position: right -1020px;
              padding: 0 5px 0 0;
              &:hover{
                background-position: right -1106px;
              }
              span{
                display: block;
                width: 54px;
                height: 31px;
                padding: 0 2px 0 28px;
                line-height: 31px;
                background:url('../img/button2.png');
                background-repeat: no-repeat;
                background-position: 0 -2761px;
                cursor: pointer;
                &:hover{
                  background-position: 0 -2805px;
                }
              }
            }
            .kjcComment{
              width: 86.2px;
              height: 31px;
              background:url('../img/button2.png');
              background-repeat: no-repeat;
              background-position: right -1020px;
              white-space: nowrap;
              margin-right: 6px;
              padding: 0 5px 0 0;
              &:hover{
                background-position: right -1106px;
              }
              span{
                display: block;
                width: 81.2px;
                height:31px;
                line-height: 31px;
                background:url('../img/button2.png');
                background-repeat: no-repeat;
                background-position: 0 -1465px;
                padding:0 2px 0 28px;
                cursor: pointer;
                &:hover{
                  background-position: 0 -1508px;
                }
              }
            }
          }
        }
      }
      .kjcSongList{
        width:100%;
        padding: 0 30px 40px 40px;
        .kjcTitleWrap{
          height: 35px;
          width: 100%;
          border-bottom: 2px solid #c20c0c;
          display: flex;
          font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
          position: relative;
          .kjcTitleName{
            font-size: 20px;
            line-height: 28px;
            color: #333;
          }
          .kjcOne{
            margin: 9px 0 0 20px;
            font-size: 12px;
            color: #666;    
          }
          .kjcPlayCount{
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 5px;
            color: #666;
            .kjcCount{
              color: #c20c0c;
              font-weight: bold;
              font-size: 12px;
              font-family: Arial, Helvetica, sans-serif;
            }
          }
        }
        .kjcListContent{
          width: 100%;
          height: 3000px;
          border: 1px solid #d9d9d9;
          .kjcTableHeader{
            width: 100%;
            height: 39px;
            display: flex;
            //border-bottom:1px solid #d9d9d9; 
            .kjcTemp{
              width: 77.6px;
              height: 38px;
              background-image: url('../img/table.png');
              background-repeat: repeat-x;
              background-position: 0 0;
              vertical-align: top;
              background-color: #f7f7f7;
              div{
                height: 34px;
                line-height: 18px;
                padding: 8px 10px;
                background-position: 0 -56px;
                background-image: url('../img/table.png') no-repeat;
                border-right: 1px solid #d9d9d9;
              }
            }
            .kjcNameTitle{
              vertical-align: top;
              width: 327.2px;
              height: 38px;
              background-image: url('../img/table.png');
              background-repeat: repeat-x;
              background-position: 0 0;
              background-color: #f7f7f7;
              color: #666;
              line-height: 38.4px;
              font-family: Arial, Helvetica, sans-serif;
              div{
                height: 34px;
                line-height: 18px;
                padding: 8px 10px;
                background-position: 0 -56px;
                background-image: url('../img/table.png') no-repeat;
                border-right: 1px solid #d9d9d9;
              }
            }
            .kjcHowLong{
              background-color: #f7f7f7;
              color: #666;
              line-height: 38.4px;
              font-family: Arial, Helvetica, sans-serif;
              width: 107px;
              height: 38px;
              background-image: url('../img/table.png');
              background-repeat: repeat-x;
              background-position: 0 0;
              div{
                height: 34px;
                line-height: 18px;
                padding: 8px 10px;
                background-position: 0 -56px;
                background-image: url('../img/table.png') no-repeat;
                border-right: 1px solid #d9d9d9;
              }
            }
            .kjcSinger{
              background-color: #f7f7f7;
              color: #666;
              line-height: 38.4px;
              font-family: Arial, Helvetica, sans-serif;
              width: 173.6px;
              height: 38px;
              background-image: url('../img/table.png');
              background-repeat: repeat-x;
              background-position: 0 0;
              div{
                height: 34px;
                line-height: 18px;
                padding: 8px 10px;
                background-position: 0 -56px;
                background-image: url('../img/table.png') no-repeat;
                border-right: 1px solid #d9d9d9;
              }
              
            }
          }
          .kjcSongListContent{
            height: 3080px;
            width:100%;
            .kjcSongItem{
              width: 100%;
              height: 69.6px;
              display: flex;
              font-family: Arial, Helvetica, sans-serif;
              &:nth-child(2n+1){
                background-color: #f7f7f7;
              }
              &:nth-child(2n){
                background-color: white;
              }
              &.kjcAfter{
                height: 29.6px;
              }
              .kjcNumAndRank{
                width: 77.6px;
                height: 100%;
                padding: 6px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .kjcSongNum{
                  width: 25px;
                  text-align: center;
                  color: #999;
                  line-height: 18px;
                  margin-right: 10px;
                }
                .kjcSongRank{
                  margin-right: -10px;
                  width: 32px;
                  height:18px;
                  display: inline-block;
                  vertical-align: middle;
                  line-height: 18px;
                  font-size: 10px;
                  padding-left: 8px;
                  background-image: url('../img/icon.png');
                  background-position: -74px -299px;
                  background-repeat: no-repeat;
                  &.new{
                    background-position: -67px -283px;
                  }
                }
              }
              .kjcSongContent{
                width: 327.2px;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 10px;
                img{
                  width: 50px;
                  height: 50px;
                  margin-right: 14px;
                }
                .kjcOpen{
                  width: 17px;
                  height: 17px;
                  cursor: pointer;
                  background-image: url('../img/table.png');
                  background-position: 0 -103px;
                  background-repeat: no-repeat;
                  margin-right: 8px;
                  &:hover{
                    background-position: 0 -128px;
                  }
                }
                .kjcSingerContent{
                  color: #333;
                  cursor: pointer;
                  &:hover{
                    text-decoration: underline;
                  }
                }
                .kjcOriginSinger{
                  color: #aeaeae;
                }
                .kjcMV{
                  width: 23px;
                  height: 17px;
                  background-image: url('../img/table.png');
                  background-position: 0 -151px;
                  background-repeat: no-repeat;
                  &:hover{
                    background-position: -30px -151px;
                    cursor: pointer;
                  }
                }
              }
              .kjcSongTime{
                width: 90.4px;
                height: 100%;
                padding: 6px 10px;
                position: relative;
                span{
                  top: 50%;
                  transform: translateY(-50%);
                  position: absolute;
                  line-height: 100%;
                  display: block;
                  text-align: left;  
                  color: #666;
                  display: block;

                }
              }
              .kjcSinger{
                width: 173.6px;
                height: 100%;
                padding: 6px 10px;
                position: relative;
                span{
                  top: 50%;
                  transform: translateY(-50%);
                  position: absolute;
                  color: rgb(51,51,51);
                  cursor: pointer;
                  &:hover{
                    text-decoration: underline;
                  }
                }
              }
            }
        }
      }
  }
    .kjcCommendContainer{
      margin-top: 40px;
      width: 100%;
      height: 2000px;
      padding: 0 30px 40px 40px;
      .kjcCommendWrap{
        height: 35px;
        width: 100%;
        border-bottom: 2px solid #c20c0c;
        display: flex;
        font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
        .kjcCommendName{
          font-size: 20px;
          line-height: 28px;
          color: #333;
        }
        .kjcCommendCount{
          margin: 9px 0 0 20px;
          color: #666;
        }
      }
      .kjcCommendContent{
        width: 100%;
        margin-top: 20px;
        .kjcWriteCommend{
          width: 100%;
          height: 98px;
          display: flex;
          img{
            width: 50px;
            height: 50px;
          }
          .kjcCommendBox{
            margin-left: 12px;
            position: relative;
            .kjcUserContent{
              width: 608px;
              height: 63px;
              border: 1px solid #cdcdcd;
              padding: 5px 6px 6px;
              outline: none;
              resize: none;
              &::placeholder{
                font-family: '微软雅黑';
                font-size: 12px;
                color: #666;
              }
            }
            .kjcUserBtns{
              width: 608px;
              height: 35px;
              padding-top: 10px;
              display: flex;
              position: relative;
              .kjcAt{
                width: 18px;
                height: 18px;
                background-image: url('../img/icon.png');
                background-position: -40px -490px;
                background-repeat: no-repeat;
                margin-right: 10px;
              }
              .kjcExp{
                width: 18px;
                height: 18px;
                background-image: url('../img/icon.png');
                background-repeat: no-repeat;
                background-position: -60px -490px;
              }
              .kjcWord{
                position: absolute;
                color: #999;
                line-height: 25px;
                font-size: 12px;
                right: 56px;
                top: 10px;
              }
              .kjcCommendBtn{
                position: absolute;
                width: 46px;
                height: 25px;
                background-image: url('../img/button.png');
                background-position: -84px -64px;
                background-repeat: no-repeat;
                text-align: center;
                line-height: 25px;
                font-size: 12px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                top: 10px;
                right: 0;
              }
            }
          }
        }
      }
    }
}
}