.zxSingerItem{
  width: 130px;
  height: 154px;
  margin-left: 17px;
  float: left;
  margin-bottom: 25px;
  img{
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
  }
  p{
    a{
      float: left;
      text-decoration: none;
      color: #333;
    }
    a:hover{
      text-decoration: underline;
    }
    span{
      float: right;
    }
  }
}